@rendermode @(new InteractiveServerRenderMode(prerender: false))
@page "/MAG/nouveau-mag"

<Toast />
<div>
    <SharedHeader PreviousPage="Gestion du MAG" CurrentPage="Nouveau MAG" OnCancel="OnCancel"/>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-xxl-10 col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Create NFT</div>
            </div>
            <div class=" card-body ">

                <EditForm FormName="typeMagForm" Model="@InputModel" 
                          OnValidSubmit="Traiter">

                    <div class="row gy-3">

                        <!-- Type MAG -->
                        <div class="col-12">
                            <label class="form-label">
                                Type de MAG <span class="text-danger">*</span>
                            </label>

                            <InputSelect @bind-Value="InputModel.TypeMag" class="form-select">
                                <option disabled selected>Selectionnez un type de MAG</option>
                                <option value="CL_AV_PACK">Client avec plus d'une carte</option>
                            </InputSelect>
                        </div>

                        <!-- Dates -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Période début <span class="text-danger">*</span>
                            </label>

                            <InputDate @bind-Value="InputModel.StartPeriod" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">
                                Période fin <span class="text-danger">*</span>
                            </label>

                            <InputDate @bind-Value="InputModel.EndPeriod" class="form-control" />
                        </div>

                        <!-- Apprint -->
                        <div class="col-12">
                            <label class="form-label">
                                Fichier Apprint <span class="text-danger">*</span>
                            </label>

                            <InputFile   OnChange="@(e => OnFileSelected(e, nameof(InputModel.Apprint)))" class="form-control" />
                        </div>

                        <!-- Comptes -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Fichier compte ouvert <span class="text-danger">*</span>
                            </label>

                            <InputFile OnChange="@(e => OnFileSelected(e, nameof(InputModel.OpenAccount)))" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">
                                Fichier compte actif <span class="text-danger">*</span>
                            </label>

                            <InputFile  OnChange="@(e => OnFileSelected(e, nameof(InputModel.ActiveAccount)))" class="form-control" />
                        </div>

                        <!-- Package -->
                        <div class="col-12">
                            <label class="form-label">
                                Package actif <span class="text-danger">*</span>
                            </label>

                            <InputFile OnChange="@(e => OnFileSelected(e, nameof(InputModel.ActivePackage)))" class="form-control" />
                        </div>

                        <!-- Contentieux -->
                        <div class="col-md-6">
                            <label class="form-label">
                                Comptes en contentieux <span class="text-danger">*</span>
                            </label>

                            <InputFile OnChange="@(e => OnFileSelected(e, nameof(InputModel.CtxAccount)))" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">
                                Date dernière souscription package échu
                                <span class="text-danger">*</span>
                            </label>

                            <InputFile OnChange="@(e => OnFileSelected(e, nameof(InputModel.DateLastSouPackEchu)))" class="form-control" />
                        </div>

                        <!-- Redevance -->
                        <div class="col-12">
                            <label class="form-label">
                                Fichier compte débité par redevance carte
                                <span class="text-danger">*</span>
                            </label>

                            <InputFile OnChange="@(e => OnFileSelected(e, nameof(InputModel.AccountHisDebiteByRedevCard)))" class="form-control" />
                        </div>

                    </div>

                    <div class="card-footer d-flex justify-content-end mt-4">

                        <button type="button" class="btn btn-primary me-2" @onclick="OnCancel">
                            Annuler
                        </button>

                        <button type="submit" class="btn btn-success">
                            Lancer le traitement
                        </button>

                    </div>

                </EditForm>
            </div>

        </div>
    </div>
</div>
 